body {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.9rem;
}

p {
    font-size: 1.5rem;
}

.container-fluid {
    padding: 7% 15%;
}

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* Sections */

.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}


/* Navbar */

.cat-img {
    width: 17%;
    transform: rotate(25deg);
    border-radius: 10%;
    position: absolute;
    left: 60%;
}

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    padding: 0 18px;
    font-size: 20px;
}

.nav-link {
    color: #fff;
}


/* title section */


/* buttons */

.download-btn {
    margin: 5% 3% 5% 0;
}


/* Features section */

#features {
    padding: 12% 15%;
    position: relative;
    background-color: #fff;
    z-index: 1;
}

.feature-p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: gray;
}

.fa-solid,
.fa-regular {
    color: #ef8172;
    margin-bottom: 1rem;
}

.fa-solid:hover,
.fa-regular:hover {
    color: #ff4c68;
}

.feature-title {
    font-size: 1.7rem;
    font-weight: bold;
}


/* testimonial section */

.test-img {
    width: 30%;
    border-radius: 90%;
    margin: 20px;
}

.test-title {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}

#testimonials {
    padding: 7% 15%;
    background-color: #ef8172;
}


/* press section */

.company-img {
    width: 15%;
    margin: 20px 20px 50px;
}

.img-section {
    background-color: #ef8172;
    padding-bottom: 3%;
}


/* pricing section */

#pricing {
    padding: 50px;
}

.pricing-col {
    padding: 3% 1.7%;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}

.price-p {
    font-size: 1.4rem;
    color: gray;
}

.prices {
    font-size: 1.2rem;
    color: gray;
}

.price-text {
    font-size: 3rem;
    font-weight: bold;
}

.card-header {
    background-color: #ef8172;
}


/* cta section */

#cta {
    padding: 4% 12%;
    background-color: #ff4c68;
}

.cta-title {
    font-size: 3rem;
    color: #fff;
}


/* footer section */


/* Footer section */

#footer {
    background-color: #ff4c68;
    color: #fff;
}

.social-media {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.fab {
    padding: 10px;
    color: #fff;
}

.footer-img {
    width: 75%;
    border-radius: 10%;
}

.link-p {
    line-height: 1.5;
}

.list-unstyled {
    font-size: 1.2rem;
}


/* .fab:hover {
    color: #ef8172;
} */


/* media queries */

@media(max-width:1000px) {
    .cat-img {
        position: static;
        width: 40%;
        transform: none;
        object-fit: contain;
    }
    .title-container {
        text-align: center;
    }
}

@media(max-width:770px) {
    .list-unstyled {
        font-size: 1.3rem;
    }
    h4 {
        font-size: 2.1rem;
    }
    .media-link {
        font-size: 1.3rem;
    }
}